<!DOCTYPE html>
<html>
    <head>
        <title>BoredPeople.com</title>
        <link rel="stylesheet" type="text/css" href="homepage.css">
        <style>
            #box{
    width: 100%;
    font-size: xx-large;
    font-family: fantasy;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0px 4px gray;
}
body{
    background-color: rgb(226, 220, 17);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.box{
    height: 200px;
    width: 40%;
    border: 1px solid grey;
    font-size: large;
}
.hi{
    height: 500px;
    width: 40%;
    font-size:  x-large;
    float: right;
    background-image: url(https://media2.giphy.com/media/CtrnXiGISEYwM/giphy.gif);
    font-family: fantasy;
    text-align: center;
}
#box1{
    background-color: blue;
    font-family: fantasy;
    text-align: center;
}
#box2{
    background-color: red;
    font-family: fantasy;
    text-align: center;
    float: right;
}
#box3{
    background-color: grey;
    font-family: fantasy;
    text-align: center;
}
#box4:hover {
    background-image: url(https://pbs.twimg.com/media/CodyZDPVUAQj8kZ.jpg:large);
    background-repeat: no-repeat;
    background-size: 100% ;
    font-size: xx-large;
}

#box5{
    background-color: purple;
    font-family: fantasy;
    text-align: center;
}
#box6{
    background-color: orange;
    font-family: fantasy;
    text-align: center;
}
        </style>
        <script src="homepage.js"></script>
    </head>
    <body>
        <div class= "homepage" id= "box"><h1>BoredPeople.com</h1></div>
        <h1> In for weird some entertainment?</h1>
        <h2>Well, we've got the place for you!</h2>
        <div class= "box" id= "box1">
            <form method="POST" action='/quiz'>
                Personality Quiz<button type="submit">Clickme</button>\
            </form>
            </div>      
        <div class= "box" id= "box2">nothing here...</div>
        <div class= "box" id= "box3">Gifs and memes</div>
        <div class= "hi" id= "box4">I told you, NOT TO TOUCH IT!</div>
        <div class= "box" id= "box5">Coming soon...but not soon enough</div>
        <div class= "box" id= "box6">To lazy to name this box</div>
    </body>
</html>