<!DOCTYPE html>
<html>
    <head>
        <title>BoredPeople.com</title>
        <link rel="stylesheet" type="text/css" href="project.css">
        <script src="project.js"></script>
    </head>
    <body>
        
        <h1> Personality Quiz! </h1>
        <h2> Take this quiz to discover your true personality! </h2>
        
        
        <form method="POST" action="/results">
            <p> If you are working and there is something you don't understand, what would you do? </p>
            <input type="radio" name="answer1" value="1" > Stress out, cry, and self-depricate.
            <br>
            <input type="radio" name="answer1" value="2" > Calm down and try to figure it out without being stressed.
            <br>
            <input type="radio" name="answer1" value="3" > Read every book/website about the topic and spend hours to understand it.
            <br>
        
      
            <p> When you are playing a game, how important is it for you to win? </p>
            <input type="radio" name="answer2" value="1" > It means the world to me!
            <br>
            <input type="radio" name="answer2" value="2" > Not important at all.
            <br>
            <input type="radio" name="answer2" value="3" > Somewhat important.
            <br>
            
       
            <p>When working towards a goal, how will you acheive it?</p>
            <input type="radio" name="answer3" value="1"> Work as much as i need to suceed.
            <br>
            <input type="radio" name="answer3" value="2"> Achieve the goal through relaxing and taking things easy.
            <br>
            <input type="radio" name="answer3" value="3"> Meticulously figure out every possible way to achieve it.
            <br>
        
      
            <p> How do you react to criticism? </p>
            <input type="radio" name="answer4" value="1" > I will never sleep until I show the person who's boss!
            <br>
            <input type="radio" name="answer4" value="2" > Just shrug and walk away, they don't know what they are talking about!
            <br>
            <input type="radio" name="answer4" value="3" > I would be so frustrated!
            <br>
        
        
            <p>If you see your friends doing something that didn't feel right, would you follow? </p>
            <input type="radio" name="answer5" value="1" > Heck yes, if it makes me feel better about myself!
            <br>
            <input type="radio" name="answer5" value="2" > No, it is not worth it.
            <br>
            <input type="radio" name="answer5" value="3" > Never!
            <br>
            
            
            <p>How would you describe yourself as a friend?</p>
            <input type="radio" name="answer6" value="1" > I'm usually the friend who leads the conversation and makes others laugh.
            <br>
            <input type="radio" name="answer6" value="2" > I'm the friend who sees the best in people and meditates during an argument.
            <br>
            <input type="radio" name="answer6" value="3" > I'm the friend who gives advice and has good intuition.
            <br>
            
            
            <p>What two characteristics describe you most?</p>
            <input type="radio" name="answer7" value="1" > Imaginative and a leader.
            <br>
            <input type="radio" name="answer7" value="2" > Patient and trustworthy.
            <br>
            <input type="radio" name="answer7" value="3" > Hard-working and disciplined.
            <br>
            
            
            <p>How do you feel about rejecting your friends' offer to spend time together?</p>
            <input type="radio" name="answer8" value="1" > Not guilty at all! I don't do anything I don't want to.
            <br>
            <input type="radio" name="answer8" value="2" > I would feel awful. I just can't say no to people!
            <br>
            <input type="radio" name="answer8" value="3" > It depends on the friends; usually so/so.
            <br>
                    <button type="submit">Submit</button>
        </form>
        
    </body>
</html>